<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/navbar %>

    <div>
        <h1> Bird Created </h1>
        <p>bird title was <%= title %></p>

    </div>
    <% include ./partials/scripts %>
  </body>
</html>
