<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/navbar %>

    <div>
      <h2>Bird Entry Form</h2>
      <form action="/create/bird" method="POST">

    <div class="form-group">
      <label>Species</label>
      <input type="text" class="form-control" name="speciesName" required>
    </div>
    <div class="form-group">
      <label>Nickname</label>
      <input type="text" class="form-control" name="nickName" required>
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="text" class="form-control" name="status" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
